<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kplo.beat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 카메라가 없으면 스토어에 검색이 안되도록 설정하는 것이다. -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 어플이 휴면모드를 막아줌 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 포그라운드서비스 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="q">
        <activity android:name=".hitlist_more"></activity>
        <activity android:name=".Search_more" />
        <activity android:name=".Search" />
        <activity android:name=".m_buy2" />
        <activity android:name=".m_sell" />
        <activity android:name=".m_buy" />
        <activity android:name=".buying" />
        <activity android:name=".Pay" />
        <activity android:name=".Music_highlight_comment" />
        <activity android:name=".Show_highlight" />
        <activity android:name=".Add_highlight" />
        <activity android:name=".User_like_playlist" />
        <activity android:name=".Basket_my_list" />
        <activity android:name=".Basket_add" />
        <activity android:name=".Basket" />
        <activity android:name=".Edit_list" />
        <activity android:name=".Playing" />
        <activity android:name=".User_Play_list" />
        <activity android:name=".Message_Activity" />
        <activity android:name=".Server" />
        <activity
            android:name=".NewClient"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Feed_more" />
        <activity android:name=".flow_tab" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="REWIND" />
                <action android:name="TOGGLE_PLAY" />
                <action android:name="FORWARD" />
                <action android:name="CLOSE" />
            </intent-filter>
        </service>

        <activity android:name=".Feed_Details" />
        <activity android:name=".write_story" />
        <activity android:name=".MyPlayList" />
        <activity android:name=".MyPlayList2" />
        <activity android:name=".upload_music" />
        <activity android:name=".Feed" />
        <activity android:name=".Main_manu" />
        <activity android:name=".camera" />
        <activity android:name=".SignupActivity3" />
        <activity android:name=".SignupActivity1" />
        <activity android:name=".SignupActivity2" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 오디오 서비스 등록 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.kplo.beat"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>